@model OnlineApp.Core.Entities.Components

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Components</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Components_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Components_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Components_Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
